{% extends "tasks/email/base.html" %}
{% block content %}
<p style="margin:0 0 16px;">Hi {{ contact }},</p>
<p style="margin:0 0 16px;">Your Profit Sports Solutions account has been created.</p>
<p style="margin:0 0 16px;">
    Username: <strong>{{ username }}</strong><br>
    Temporary password: <strong>{{ password }}</strong>
</p>
<p style="margin:0 0 16px;">You'll be asked to set your own password the first time you sign in.</p>
{% include "tasks/email/_button.html" with url=link label="Sign in" %}
<p style="margin:24px 0 0;">Best regards,<br>Profit Sports Solutions</p>
{% endblock %}
